body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
.username {
    font-size: 24px;
    margin: 10px 0;
    color: purple;
}
.description, .location {
    font-size: 14px;
    color: #777;
}
.profile-card {
    text-align: center;
}
.card {
    background: plum;
    padding: 20px;
    width: 300px;
}
.location{
    color:black;
}
.profile-pic {
    width: 100%;

}
.social-icons i{
    width: 24px;
}

.contact-btn {
    background: rgb(71, 112, 169);
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}