body {
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: #f4f4f4;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 3px;
    border: 2px;
    background-color: rgb(211, 208, 208);
    color: black;
}